

<div id="consolle" class="w-100 h-100 m-0 p-0  ">
  <div  class="justify-self-center  position-relative overflow-hidden">

    <app-grid-header class="w-100 m-0 p-0 text-center bg-white position-absolute top-0 start-0"  ></app-grid-header>
    
    <div class="row w-100 m-0 p-0">
      <div class="w-25 h-100 m-0 p-0 text-center bg-danger position-absolute"></div>
      <app-grid></app-grid>
      <div class="w-25 h-100 m-0 p-0 text-center bg-danger top-0 end-0 position-absolute"></div>
    </div>
    <app-grid-footer class="w-100 m-0 p-0 text-center bg-white position-absolute bottom-0 start-0" ></app-grid-footer>
  </div>
</div>


